# [作業目標]

1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

3. 假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

# 作業

### 1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

In [15]:
# 記得先 Import 正確的套件

import numpy as np
import pandas as pd

In [16]:
#Creating Pandas DataFrames from Python Lists
fruit_list=[(30,21)]
labels=['Apples','Bananas']
df=pd.DataFrame.from_records(fruit_list,columns=labels)
print(df)

   Apples  Bananas
0      30       21

In [20]:
#Creating Pandas DataFrames from Python dictionaries
fruit_list_2=[{'Apples':35,'Bananas':21},{'Apples':41,'Bananas':34}]
df2=pd.DataFrame(fruit_list_2,index=['2017 Sales','2018 Sales'])
print(df2)

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

### 2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

In [36]:
d=[{'city':'Austin','visitor':139,'weekday':'Sun'},
   {'city':'Dallas','visitor':237,'weekday':'Sun'},
   {'city':'Austin','visitor':326,'weekday':'Mon'},
   {'city':'Dallas','visitor':456,'weekday':'Mon'}]
labels=['city','visitor','weekday']
df3=pd.DataFrame(d,columns=labels)
print(df3)

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

### 3. 承上題，假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

In [39]:
for day in set(df3['weekday']):
    print(day,df3[df3['weekday']==day]['visitor'].mean())

Sun 188.0
Mon 391.0

In [42]:
print(df3[df3['weekday']=='Sun']['visitor'].mean())

188.0