# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [1]:
# 記得先 Import 正確的套件

import numpy as np
import pandas as pd

In [2]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [6]:
#計算每個不同種類 animal 的 age 的平均數
for a in set(df["animal"]):
    print(a,df[df["animal"]==a]["age"].mean())

cat 2.5
snake 2.5
dog 5.0

In [19]:
#計算每個不同種類 animal 的 age 的平均數
print ('2nd way \n',df.groupby('animal').age.mean(),'\n')

2nd way
 animal
cat      2.5
dog      5.0
snake    2.5
Name: age, dtype: float64

In [16]:
#- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
sort_age=df.sort_values(by=["age"], ascending=True, axis=0)
print(sort_age)
sort_visits=sort_age.sort_values(by=["visits"], ascending=False, axis=0)
sort_visits

  animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes

  animal  age  visits priority
f    cat  2.0       3       no
b    cat  3.0       3      yes
d    dog  NaN       3      yes
c  snake  0.5       2       no
e    dog  5.0       2       no
i    dog  7.0       2       no
a    cat  2.5       1      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
h    cat  NaN       1      yes

In [23]:
#- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
sort_visits=sort_visits.replace(["yes","no"],[True,False])
sort_visits

  animal  age  visits  priority
f    cat  2.0       3     False
b    cat  3.0       3      True
d    dog  NaN       3      True
c  snake  0.5       2     False
e    dog  5.0       2     False
i    dog  7.0       2     False
a    cat  2.5       1      True
j    dog  3.0       1     False
g  snake  4.5       1     False
h    cat  NaN       1      True

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [24]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.506206  0.699832  0.228753
1  0.168852  0.848335  0.532684
2  0.816771  0.035757  0.035193
3  0.804167  0.754405  0.001644
4  0.264844  0.080523  0.571674

In [30]:
#將每個數字減去該欄位的平均
df.mean(axis=0)
print(df.mean(axis=0))
Q1=df-df.mean(axis=0)
print(Q1)

0    0.512168
1    0.483770
2    0.273989
dtype: float64
          0         1         2
0 -0.005962  0.216062 -0.045236
1 -0.343316  0.364565  0.258694
2  0.304603 -0.448013 -0.238796
3  0.291999  0.270634 -0.272346
4 -0.247324 -0.403247  0.297684

In [35]:
#將每個數字減去該筆資料的平均數
df.mean(axis=1)
Q2=df.sub(df.mean(axis=1),axis=0)
print(Q2)

          0         1         2
0  0.027942  0.221568 -0.249511
1 -0.347772  0.331712  0.016060
2  0.520864 -0.260150 -0.260714
3  0.284095  0.234333 -0.518428
4 -0.040837 -0.225157  0.265994

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [46]:
#1) 哪一比的資料總合最小
df.sum(axis=1)
print(df.sum(axis=1))
print("minimum data row is : ",df.sum(axis=1).idxmin())

0    1.434791
1    1.549871
2    0.887721
3    1.560215
4    0.917040
dtype: float64
minimum data row is :  2

In [50]:
#2) 哪一欄位的資料總合最小
df.sum(axis=0)
print(df.sum(axis=0))
print("the minimum column is : ", df.sum(axis=0).idxmin())

0    2.560840
1    2.418851
2    1.369947
dtype: float64
the minimum column is :  2